
.footer{ 
    color:  var(--text-primary);
    background-color: var(--bg-footer);
    width: 100%;
    min-height: 30rem;
    display: grid;
    gap: 4rem;
    padding: 4rem 2rem;
    text-transform: uppercase;
}

.container__footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.container__footer h2 {
    font-size: 4rem;
    text-align: right; 
}

.container__footer form {
    width: 100%;
    max-width: 45rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__footer label {
    display: block;
    max-width: 16rem;
    font-size: 1.5rem;
    font-weight: 400;
}

.container__footer input {
    width: 100%;
    max-width: 31.2rem;
    height: 100%;
    max-height: 5rem;
    background: var(--color-primary);
    border: none;
    padding: 0 0.5rem;
}

.container__footer input::placeholder { 
    color:  var(--text-primary);
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
}

.container__footer button{
    width: 100%;
    max-width: 6rem;
    height: 100%;
    max-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
}

.footer hr {
    height: 0rem;
    width: 100%;
    max-width: 115rem;
    stroke-width: 0.05rem;
    stroke: var(--text-primary);
    margin: 0 auto;
}

.copyright {
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    font-family: var(--font-secondary);
}

.copyright span{
    color: var(--color-primary);
    font-family: var(--font-secondary);
}


@media screen and (max-width:860px){
.container__footer{
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}   
.container__footer h2{
    font-size: 3rem;
}
.container__footer form{
   max-width: 35rem;
}
}
    
@media screen and (max-width:460px){
.container__footer h2{
    font-size: 2rem;
}
.container__footer form{
   max-width: 25rem;
}
.container__footer label{
   font-size: 1rem;
}
 .container__footer input::placeholder{
    font-size: 1rem;
}
.socials{
    gap: 1rem;
}
.icon{
    width: 2.8rem;
}
.copyright{
    font-size: 1rem;
}
}