@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=block");


:root {
    --color-primary: #eaab0a;
    --color-secondary: #ffc501;
    --text-primary: #fff;
    --text-secondary: #000;
    --bg-footer: #000;
    --font-primary: "";
    --font-secondary: 'Montserrat', sans-serif;
  }
  